html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.layout {
    background: #b6b5b5;
    
}

body {
    font: 14px/18px Arial;
    text-align: center;
    background: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

p {
    color: #889;
    width: 100%;
    text-align: center;
    padding-top: 24px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn {

    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
}

img {
    width: 228px;
    height: 68px;
    margin-top: 48px;
}

